<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <!-- {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %} -->
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    <div>
      {% include navbar.html pages=site.pages %}  
    </div>

    
    <main id="content" class="main-content" role="main">
      {{ content }}
        <div class="carousel_container">
            <header class="page-header" role="banner">
              <section class="carousel" aria-label="Gallery">
                <ol class="carousel__viewport">
                  <li id="carousel__slide1"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper">
                      <a href="#carousel__slide4"
                        class="carousel__prev">Go to last slide</a>
                      <a href="#carousel__slide2"
                        class="carousel__next">Go to next slide</a>
                    </div>
                  </li>
                  <li id="carousel__slide2"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide1"
                      class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide3"
                      class="carousel__next">Go to next slide</a>
                  </li>
                  <li id="carousel__slide3"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide2"
                      class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide4"
                      class="carousel__next">Go to next slide</a>
                  </li>
                  <li id="carousel__slide4"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide3"
                      class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide1"
                      class="carousel__next">Go to first slide</a>
                  </li>
                </ol>
                <aside class="carousel__navigation">
                  <ol class="carousel__navigation-list">
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide1"
                        class="carousel__navigation-button">Go to slide 1</a>
                    </li>
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide2"
                        class="carousel__navigation-button">Go to slide 2</a>
                    </li>
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide3"
                        class="carousel__navigation-button">Go to slide 3</a>
                    </li>
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide4"
                        class="carousel__navigation-button">Go to slide 4</a>
                    </li>
                  </ol>
                </aside>
              </section>
            </header>
          </div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>

    {% include external_scripts.html %}
    
  </body>
</html>